<!DOCTYPE html>
<html lang="en">

<head>
    {{> "partials/head"}}
    <meta name="description" content="{{ Data.Description }}">
</head>

<body>
    {{> "partials/header"}}
    <div class="post-container">
        <div class="article-container">
            <h1 class="post-title">{{ Data.Title }}</h1>

            {{#if Data.ThumbImage.Valid}}
            <img src="{{ UserContentUri }}/{{ Data.ThumbImage }}" alt="Post image: {{ Data.Title }}">
            {{else}}
            <img src="/assets/no-image.webp" alt="Post with no image">
            {{/if}}

            <article>{{{ Data.Content }}}</article>
        </div>
        <aside>
            <section class="topic">
                <h2>{{ Data.Title }}</h2>
            </section>
            <hr>
            {{#each Data.Topics }}
            <section class="topic">
                <a class="s{{ this.Kind }}">{{ this.Title }}</a>
            </section>
            {{/each}}
        </aside>
    </div>
</body>

</html>