<div class="header-container">
    <header class="header">
        <a href="/">
            <div class="left">
                <img class="left-image" src="/assets/favicon.svg" alt="App Logo">
                <h1>{{ AppName }}</h1>
            </div>
        </a>
        <div class="right">
            <nav class="navbar">
                {{#each Routes}}

                {{#if this.IsCurrent}}
                <a href="{{ this.Href }}" class="current">
                    {{ this.Name }}
                </a>
                {{else}}
                <a href="{{ this.Href }}">{{ this.Name }}</a>
                {{/if}}

                {{/each}}
            </nav>
            <button class="theme-btn" id="themeswap.button">
                <img width="24px" height="24px" src="/assets/moon.svg" />
            </button>
            <button class="login-btn">Login</button>
        </div>
    </header>
    <hr>
</div>